body {
    text-align: center;
}


.navbar {
    height: 4rem;
    width: 100%;
    background-color: rgba(248, 60, 185, 0.74);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
  }
  